{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'img/ico/favicon.ico' %}">

    <title>{% block head_title %}MVP Landing{% endblock %}</title>
    <!-- static css loaders -->
    {% include 'head_css.html' %}
          <style>
            {% block style %}{% endblock %}
        </style>

  </head>

  <body>

    <!-- Static navbar -->
    {% include 'navbar.html' %}
    <!-- jumbotron -->
        {% block jumbotron %}
        {% endblock %}

    <div class="container">


    <!-- main block content -->
        {% block content %}
        {% endblock %}

    </div> <!-- /container -->


{#    <div class="container-fluid">#}
{#    {% include "notes.html" %}#}
{#    </div>#}

{#<div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>#}
    {% include 'javascript.html' %}
  </body>
</html>
