{% extends "base.html" %}
{% load crispy_forms_tags crispy_forms_filters %}

{% block head_title %}Welcome | {{ block.super }}{% endblock %}

<style>
{% block style %}
.jumbotron {
    background-color: #000000;
}
.jumbotron, .jumbotron h1 p{
    color: #FFFFFF;
}
.jumbomovie {
    background-color: black;
    height: 300px;
}
{% endblock %}
</style>


{% block jumbotron %}
<div class="jumbotron">
<div class="container">
    <div class="row">
        <div class="col-sm-6">
        <h1>Try Django</h1>
        <p>Bacon ipsum dolor amet ribeye corned beef doner, ham hock meatloaf short loin turducken leberkas shoulder.</p>
        <p>Pork loin venison corned beef pancetta, turducken cupim ball tip sirloin beef ribs.</p>
        <p><a class="btn btn-lg btn-danger" href="" role="button">Join Us &raquo;</a>
        </p>
        </div>
        <div class="jumbomovie col-sm-6">

        </div>
    </div>
</div>
</div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xs-3 pull-right">

        <p class="lead text-align-center">{{ title }}</p>

        <form method="POST" action="">{% csrf_token %}
        {{ form|crispy }}
        <input class="btn btn-primary" type="submit" value="Sign Up" />
        </form>
    </div>
    <div class="col-sm-3">
        <p class="lead text-align-center">Built with Django &amp; Bootstrap</p>
    </div>
    <div class="col-sm-3">
        <p class="lead text-align-center">Project Progress: Good!</p>
    </div>
    <div class="col-sm-3">
        <p class="lead text-align-center">Always Open Source</p>
    </div>
</div>  <!-- /row -->
{% endblock %}
   <div class="row main-start m-x-auto">

        <div class="col-xs-4">
            <div class="card text-xs-center m-x-auto">
                <img class="card-img-top img-responsive" src="{% static 'img/artist321.jpg' %}" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">Artist</h4>
                    <p class="card-text">Bacon ipsum dolor amet ham adipisicing ut occaecat, sausage aliquip salami shoulder proident boudin. Tri-tip dolore spare ribs et proident. Magna incididunt corned beef in rump, prosciutto laborum leberkas kevin cillum alcatra ham flank ullamco pariatur. Adipisicing tail andouille magna pork chop..</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="card text-xs-center m-x-auto">
                <img class="card-img-top img-responsive" src="{% static 'img/bird.jpg' %}" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">Fancy Bird</h4>
                    <p class="card-text">Bacon ipsum dolor amet ham adipisicing ut occaecat, sausage aliquip salami shoulder proident boudin. Tri-tip dolore spare ribs et proident. Magna incididunt corned beef in rump, prosciutto laborum leberkas kevin cillum alcatra ham flank ullamco pariatur. Adipisicing tail andouille magna pork chop..</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="card text-xs-center m-x-auto">
                <img class="card-img-top img-responsive" src="{% static 'img/flywithme.jpg' %}" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">Butterfly Kid</h4>
                    <p class="card-text">Bacon ipsum dolor amet ham adipisicing ut occaecat, sausage aliquip salami shoulder proident boudin. Tri-tip dolore spare ribs et proident. Magna incididunt corned beef in rump, prosciutto laborum leberkas kevin cillum alcatra ham flank ullamco pariatur. Adipisicing tail andouille magna pork chop..</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
    </div>