{% extends 'moviecompare/compare.html' %}

{% block movies_returned %}
<div class="wrap">
<div class="compare-gallery">
{% for key in parsed_data.results|dictsort:'release_date' %}
{% if key.poster_path and key.release_date and key.title and key.overview %}
    <div class="gallery-item">
        <img src="http://image.tmdb.org/t/p/w185/{{ key.poster_path }}">
   <div class="gallery-text">
       <div class="gallery-date"><h5><span><i class="material-icons">date_range</i></span> {{ key.release_date }}</h5></div>
        <div class="gallery-title"><h3><a href="../movies/{{ key.id }}">{{ key.title }}</a></h3></div>
       <div class="gallery-overview">{{ key.overview|truncatechars:80 }}</div>
       </div>
    </div>
{% endif %}
{% endfor %}
</div>
</div>
{% endblock %}

{# style="background: url('http://image.tmdb.org/t/p/w185/{{ key.poster_path }}') no-repeat center; background-size: contain;"#}
{# <img src="http://image.tmdb.org/t/p/w300/{{ key.poster_path }}">#}
{#{% for key in parsed_data.results|dictsort:'release_date' %}#}
{#    {% if key.release_date %}#}
{##}
{#    <p><a href="../movies/{{ key.id }}">{{ key.title }}</a></p>#}
{#    <img src="http://image.tmdb.org/t/p/w300/{{ key.poster_path }}">#}
{#    {% endif %}#}
{#{% endfor %}#}