body {
    /* Show it's not fixed to the top */
    min-height: 75rem;
    max-width:100%;
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: 'Montserrat', sans-serif;
}
h1, h2, h3, h4 {
    font-family: 'Reem Kufi', sans-serif;
}

.nav-item a {
    color: #ffffff !important;
    padding: 1rem;
    font-family: 'Reem Kufi', sans-serif;
}
.navbar-nav {
    padding-right: 6rem;
}
.navbar-brand {
    padding-left: 3rem;
}
.navbar-dark {
    background-color: rgba(0, 0, 0, 1.00);
}
/* jumbotron */


#jrow .container-fluid{
    padding: 0 4rem 0 4rem;
    max-height: 500px;
    min-height: 500px;
}
.jumbotron {
    background-image: url('../img/typewriter_1920x1080.jpg');
    margin-top: 3.3rem;
    margin-bottom: 5rem;
}
#jtext {
    background-color: rgba(255, 255, 255, 1.00);
    color: #000000;
    padding: 2rem;
    -webkit-box-shadow: inset 0px 0px 55px 9px rgba(0,0,0,1);
    -moz-box-shadow: inset 0px 0px 55px 9px rgba(0,0,0,1);
    box-shadow: inset 0px 0px 55px 9px rgba(0,0,0,1);
}

/* Live CSS Blur ******************************/

img.bg {
    min-height: 100%;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -2;
    transform-style: preserve-3d;
}

.blur {
    height: 250px;
    width: 100%;
    margin: -20px auto;
    z-index: -1;
    position: relative;
    filter: blur(200px);
    -webkit-filter: blur(5px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: url(#blur);
    filter: progid: DXImageTransform.Microsoft.Blur(PixelRadius='200');
    overflow: hidden;
}

.blur:after {
    content: '';
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, .03);
    position: absolute;
}

.widget {
    border: 2px solid white;
    height: 200px;
    width: 50%;
    overflow: hidden;
}

.center {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


/*  NOT REQUIRED  */

.text {
    height: 200px;
    width: 340px;
}

.text h1 {
    text-align: center;
    text-shadow: 1px 1px rgba(0, 0, 0, .91);
    color: #ffffff;
    margin-top: 40px;
    font-family: 'Lora', serif;
    font-weight: 700;
    font-size: 38px;
}

.text p {
    text-align: center;
    color: #ffffff;
    text-shadow: 1px 1px rgba(0, 0, 0, .1);
    margin-top: 0px;
    font-family: 'Lato', serif;
    font-weight: 400;
    font-size: 22px;
    padding-top: 12px;
}