h1, h2, h3, h4 {
    font-family: 'Reem Kufi', sans-serif;
}

.nav-item a {
    color: #ffffff !important;
    padding: 1rem;
    font-family: 'Reem Kufi', sans-serif;
}
.navbar-nav {
    padding-right: 6rem;
}
.navbar-brand {
    padding-left: 3rem;
}
.navbar-dark {
    background-color: #000000;
    border-bottom: 2px solid white;
}

    /*filter: blur(200px);*/
    /*-webkit-filter: blur(5px);*/
    /*-moz-filter: blur(10px);*/
    /*-o-filter: blur(10px);*/
    /*-ms-filter: blur(10px);*/
    /*filter: url(#blur);*/
    /*filter: progid: DXImageTransform.Microsoft.Blur(PixelRadius='200');*/