/* line 34, ../sass/partials/_layout.scss */
img {
  width: 100%;
  height: auto;
}

/* line 8, ../sass/styles.scss */
html {
  font-size: 16px;
  font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
}

/* line 13, ../sass/styles.scss */
body {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}
/* line 12, ../../../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
body:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 22, ../sass/styles.scss */
.landing-wrap {
  color: #ffffff;
  font-family: "Reem Kufi", sans-serif;
  text-shadow: 2px 2px 2px #000000;
  text-shadow: 2px 2px 2px 3px #000000;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
.landing-wrap:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 27, ../sass/styles.scss */
.landing-wrap h2, .landing-wrap h3 {
  margin: 1.16822%;
}
/* line 30, ../sass/styles.scss */
.landing-wrap h2 {
  font-size: 3em;
  letter-spacing: 1.5em;
}
/* line 34, ../sass/styles.scss */
.landing-wrap h3 {
  font-size: 2em;
  letter-spacing: .8em;
}
/* line 38, ../sass/styles.scss */
.landing-wrap img {
  max-height: 900px;
}
/* line 41, ../sass/styles.scss */
.landing-wrap .landing-widget {
  position: absolute;
  margin-top: -25%;
  height: 25%;
  width: 100%;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzUxNTE1MSIgc3RvcC1vcGFjaXR5PSIwLjYiLz48c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzlhOWE5YSIgc3RvcC1vcGFjaXR5PSIwLjQzIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjNTE1MTUxIiBzdG9wLW9wYWNpdHk9IjAuNiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(81, 81, 81, 0.6)), color-stop(50%, rgba(154, 154, 154, 0.43)), color-stop(100%, rgba(81, 81, 81, 0.6)));
  background-image: -moz-linear-gradient(rgba(81, 81, 81, 0.6), rgba(154, 154, 154, 0.43), rgba(81, 81, 81, 0.6));
  background-image: -webkit-linear-gradient(rgba(81, 81, 81, 0.6), rgba(154, 154, 154, 0.43), rgba(81, 81, 81, 0.6));
  background-image: linear-gradient(rgba(81, 81, 81, 0.6), rgba(154, 154, 154, 0.43), rgba(81, 81, 81, 0.6));
  -moz-box-shadow: #000000 0px 0px 15px;
  -webkit-box-shadow: #000000 0px 0px 15px;
  box-shadow: #000000 0px 0px 15px;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  text-align: center;
  display: table;
}
/* line 53, ../sass/styles.scss */
.landing-wrap .landing-widget h2 h3 {
  display: table-cell;
  vertical-align: middle;
}
/* line 57, ../sass/styles.scss */
.landing-wrap .landing-widget hr {
  width: 80%;
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 232, 0.75), rgba(0, 0, 0, 0));
}
/* line 64, ../sass/styles.scss */
.landing-wrap .landing-widget:before {
  content: "";
  position: absolute;
  top: 3px;
  left: 0;
  right: 0;
  bottom: 3px;
  border-top: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
}
/* line 74, ../sass/styles.scss */
.landing-wrap .landing-widget:after {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  right: 0;
  bottom: 8px;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}
