/* line 31, ../sass/partials/_layout.scss */
img {
  width: 100%;
  height: auto;
}

/* line 21, ../../../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/susy-2.2.12/sass/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 10, ../sass/styles.scss */
html {
  font-size: 16px;
  font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
}

/* line 15, ../sass/styles.scss */
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  background: black;
}

/* line 22, ../sass/styles.scss */
#pygreen {
  color: #65b042;
}

/* line 25, ../sass/styles.scss */
#pyorange {
  color: #e28964;
}

/* line 28, ../sass/styles.scss */
.site-header {
  min-height: 4000px;
}
/* line 30, ../sass/styles.scss */
.site-header a {
  text-decoration: none;
}

/* line 34, ../sass/styles.scss */
ul, ol {
  margin: 0;
  padding: 0;
}

/* line 38, ../sass/styles.scss */
li {
  list-style: none;
}

/* line 41, ../sass/styles.scss */
.wrap {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  color: rgba(255, 255, 255, 0.81);
  background: black;
}
/* line 12, ../../../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
.wrap:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 46, ../sass/styles.scss */
.filler-wrap {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  min-height: 2000px;
  background-color: #00b3ee;
}
/* line 12, ../../../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
.filler-wrap:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 52, ../sass/styles.scss */
.landing-wrap {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  overflow: hidden;
  *zoom: 1;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjM2MHB4IiBjeT0iMzYwcHgiIHI9IjYwMCUiPjxzdG9wIG9mZnNldD0iMS42NjY2NjY2NyUiIHN0b3AtY29sb3I9IiM5NDk0OTQiIHN0b3Atb3BhY2l0eT0iMC4zMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjgiLz48L3JhZGlhbEdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA='), url("../img/library.jpg") no-repeat center fixed;
  background: -moz-radial-gradient(360px 360px, rgba(148, 148, 148, 0.31) 10px, rgba(0, 0, 0, 0.8) 600px), url("../img/library.jpg") no-repeat center fixed;
  background: -webkit-radial-gradient(360px 360px, rgba(148, 148, 148, 0.31) 10px, rgba(0, 0, 0, 0.8) 600px), url("../img/library.jpg") no-repeat center fixed;
  background: radial-gradient(360px 360px, rgba(148, 148, 148, 0.31) 10px, rgba(0, 0, 0, 0.8) 600px), url("../img/library.jpg") no-repeat center fixed;
  background-position-y: 1%;
  min-height: 900px;
  z-index: -5;
}
/* line 59, ../sass/styles.scss */
.landing-wrap pre {
  border-radius: 1rem;
  border: 1px solid #9d9d9d;
  color: rgba(255, 255, 255, 0.81);
  background-color: rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 0 30px black;
  -webkit-box-shadow: 0 0 30px black;
  box-shadow: 0 0 30px black;
}
/* line 66, ../sass/styles.scss */
.landing-wrap .landing-widget {
  margin-top: 15.88785047%;
  margin-left: 24.29906542%;
  width: 45%;
  font-size: 2em;
}

/* line 73, ../sass/styles.scss */
.sticky.is-sticky {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
}

/* line 81, ../sass/styles.scss */
.sticky-wrapper {
  margin-top: 0;
}

/* navbar */
/* line 85, ../sass/styles.scss */
.nav-wrap {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 3rem;
  background: black;
  padding: .25rem 3rem;
  font-family: monospace;
  line-height: 2rem;
  font-size: 1.2rem;
  border-top: 1px solid #5f6267;
  border-bottom: 1px solid #5f6267;
}
/* line 12, ../../../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
.nav-wrap:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 96, ../sass/styles.scss */
.navitem {
  color: rgba(255, 255, 255, 0.81);
  padding-left: 0;
}

/* line 100, ../sass/styles.scss */
.navitem a {
  color: #65b042;
}
/* line 102, ../sass/styles.scss */
.navitem a:hover {
  color: #bce0ab;
}

/* line 106, ../sass/styles.scss */
.nolink {
  color: rgba(255, 255, 255, 0.81);
}
/* line 108, ../sass/styles.scss */
.nolink:hover {
  color: rgba(255, 255, 255, 0.81);
}

/* line 112, ../sass/styles.scss */
.logo a {
  float: left;
  color: rgba(255, 255, 255, 0.81);
}

/* line 116, ../sass/styles.scss */
nav {
  float: right;
}
/* line 119, ../sass/styles.scss */
nav li {
  list-style: none;
  float: left;
  margin-left: 2em;
}

/* /navbar end */
