$black: #000000;
$white: #ffffff;
$blue: #0000ff;
$ash-gray: #b2beb5;

$landing-border-color: #ffffff;

$hfont: 'Reem Kufi', sans-serif;
$pfont:  'Montserrat', sans-serif;

$large: 960px;
$medium: 580px;
$small: 300px;



