$black: #000000;
$blue: #0000ff;
$ash-gray: #b2beb5;

$default-text-color: $black !default;


$parallax-perspective : 1 !default;
$parallax-element     : ".landing-container" !default;
$parallax-ios         : true !default;