$black: rgb(0, 0, 0);
$white: #ffffff;
$blue: #0000ff;
$ash-gray: #b2beb5;
$pyGreen: #65b042;
$pyOrange: #e28964;
$site-bg-color: #f0f1ff;

$landing-border-color: rgba(255, 255, 255, 0.4);

$hfont: 'Reem Kufi', sans-serif;
$pfont:  'Montserrat', sans-serif;

$large: 960px;
$medium: 580px;
$small: 300px;



