{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,  maximum-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'img/ico/favicon.ico' %}">

    <title>{% block head_title %}a work in progress..{% endblock %}</title>

    {% include 'head_css.html' %}

</head>
<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.7";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>



<!-- SITE HEADER -->
<header class="site-header">
    {% include 'navbar.html' %}
    {% block landing %}
    {% endblock %}
</header>
<!-- BLOG BLOCK -->
{% block blog-create %}{% endblock %}
{% block blog %}{% endblock %}

{% block compare %}
{% endblock %}
{% block movie_detail %}
{% endblock %}

{% include 'javascript.html' %}


</body>
</html>
