{% extends "base.html" %}
{% block landing %}
    <div class="wrap">
        <div class="landing-wrap">
            <div class="landing-widget">
<pre class="prettyprint lang-py">
    def firstSite():
        siteTitle = 'a work in progress..'
        myName = 'Jon Downing'

    # TODO : get the blog up!
</pre>
            </div>
        </div>
    </div>
{% endblock %}

{% block navigation %}
    <div class="nav-wrap" data-toggle="sticky-onscroll">
        <div class="logo"><a href="/"><span id="pyorange">return</span> render(<span id="pygreen">'home.html'</span>)</a></div>
        <nav>
            <ul>
                <li class="navitem nolink">links = [</li>
                <li class="navitem"><a href="/">'Blog'</a>,</li>
                <li class="navitem"><a href="/">'Site Info'</a>,</li>
                <li class="navitem"><a href="/">'Contact'</a></li>
                <li class="navitem nolink">]</li>
            </ul>
        </nav>
    </div>
{% endblock %}

