{% extends "base.html" %}

{% block navigation %}

{% endblock %}


{% block landing %}
    <div class="wrap">
        <div class="landing-wrap">
            <div class="landing-widget">
<pre class="prettyprint lang-py">
    def firstSite():
        siteTitle = 'a work in progress..'
        myName = 'Jon Downing'

    # TODO : get the blog up!
    # TODO : associate a line(or lines)
    #   from a movie to a choice of 6
    #   photos with scenes from that movie.
</pre>
            </div>
        </div>
    </div>
{% endblock %}



