{% load staticfiles %}
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->


<script src="{% static 'js/highlight.pack.js' %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>


<script src="{% static 'js/main.js' %}"></script>
<script>hljs.initHighlightingOnLoad();</script>
{#<script async defer data-pin-hover="true" data-pin-tall="true" data-pin-save="true" src="//assets.pinterest.com/js/pinit.js"></script>#}
<script type="text/javascript">
$(document).ready(function() {
    $("body").tooltip({ selector: '[data-toggle=tooltip]',
                        template:
                        '<div class="tooltip" role="tooltip">' +
                            '<div class="tooltip-arrow"></div>' +
                        '<div class="tooltip-inner" style="color: #000000; background-color: #4eff61; font-size: 12px; font-family: oswald; font-weight: 100; border: 1px solid #000000;"></div></div>',
                        offset: '-6px -6px'
                        });
});
</script>
