<pre class="prettyprint">
    start a new app via -
    python manage.py startapp 'appname'

    start config on models.py

    add models to admin.py >>

        from .models import Post
        admin.site.register(Post)

    head to /admin and test the posts

    create a model admin to customize admin

    C.R.U.D.
    Create -- POST --
    Retrieve -- GET --
    Update -- PUT/PATCH --
    Delete -- DELETE --

    configure main urls.py

    name / namespace notes:
    in root urls.py>   url(r'^posts/', include("posts.urls", namespace='posts')),
        namespace= is used for a target (posts.urls) with multiple urls (posts.detail, posts.list, etc)
    now in models.py>
            def get_absolute_url(self):
                return reverse("posts:detail", kwargs={"pk": self.pk}) <- use namespace:name to concatenate the actual url together
    posts.urls.py>
        url(r'^(?P<pk>\d+)/$', post_detail, name="detail"),

    django messages - https://docs.djangoproject.com/en/1.10/ref/contrib/messages/
























</pre>